# Node modules
node_modules
frontend/node_modules
backend/node_modules

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Dependency directories
bower_components

# Build directories
frontend/build

# Secrets
.env

# Others
.DS_Store
.vscode
.idea
*.swp
*~
