# Ignore node_modules directories

backend/node_modules/
frontend/node_modules/

# Ignore build output
frontend/build/
frontend/dist/

# Ignore environment files
.env
backend/.env

# Ignore any other unwanted files specific to the frontend project
frontend/.DS_Store

# Ignore downloads in backend folder
backend/downloads/

# Ignore service principle account in backend folder
backend/cookcartaikey.json

# Ignore DS_Store files
.DS_Store
